[2015-11-05 02:47] gr2m opened #4 "Implement JSON API"
Implement according to specification:
http://docs.accountrestapi.apiary.io

### sign in, check session, sign out
- [x] PUT /session
- [x] GET /session
- [x] DELETE /session

### sign up, get / update / destroy account
- [x] PUT /session/account
- [x] GET /session/account
- [x] DELETE /session/account

### get / update profile
- [x] #11  – GET /session/account/profile
- [x] #11  – PATCH /session/ac

[2015-11-17 01:53] gr2m opened #8 "@gar/hapi-json-api plugin sets JSON API headers for ALL requests, even outside plugin"
To see the effect, setup https://github.com/hoodiehq/hoodie-standalone-account and run `npm start`. The `index.html` file will not be rendered as HTML due to the fact that the conten-type header is wrong

[2015-11-17 14:23] gr2m opened #9 "when signing in to an account with errors, reject with the errors set on the _users doc"
We also need to discuss, where error meta information is stored. Besides the meta, we will add an `error` role, as long as at least one error exists on the user

[2015-11-17 14:26] gr2m opened #10 "implement requests API"
- [ ] POST /requests
- [ ] GET /requests # admins only
- [ ] GET /requests/{id}
- [ ] DELETE /requests/{id}

[2015-11-17 14:27] gr2m opened #11 "implement GET /session/account/profile"
The `/session/account/profile` route is for accessing and changing non-sensitive user data

---

- [x] claim this issue (@patriciagarcia)
- [x] start a pull request (#62)
- [x] write tests for `GET /session/account/profile` in [tests/integration/routes/account-test.js](https://github.com/hoodiehq/hoodie-server-account/blob/master/tests/integration/routes/account-test.js)
- [x] implement `GET /sess

[2015-11-17 14:28] gr2m opened #12 "Implement accounts API for admins"
- [x] POST /accounts
- [x] GET /accounts
- [x] GET /accounts/{username}
- [x] PATCH /accounts/{username}
- [x] DELETE /accounts/{username}

[2015-11-25 02:40] gr2m commented on #8
issue fixed in `@gar/hapi-json-api@1.0.7`

[2015-11-25 02:40] #8 closed

[2015-11-26 17:21] boennemann opened #14 "[idea] [hoodie-plugins-api] provide user context everywhere"
via @janl https://github.com/hoodiehq/hoodie-server/issues/408

---

One of the things where Hoodie is very different from other server side frameworks is that we don’t run dynamic request-respond cycles with an authenticated browsers. In traditional backends, I always have a  user context around, that I know something needs to act on (e.g. send an email) and I can check all sorts of stuff against

[2015-11-26 17:41] gr2m commented on #14
I don’t know how to make it work, but from a dreamcode perspective, fuck yeah, I want that (and I don’t care how it works) :v:

I wouldn’t expose the entire `_users` doc, but follow the conventions of the other account APIs, where we hide away CouchDB interna like salt etc (e.g. see `accountProperties` here [admin.accounts.add API](https://github.com/hoodiehq/hoodie-client-account/tree/master/admi

[2015-11-26 22:36] gr2m opened #17 "ignore cookie headers from all requests"
Although hoodie-server-acocunt does not set any cookies, there are cases where a cookie might be set and cause very hard bugs. Cookies are scoped by host, not including the port number. So if the API from `hoodie-server-account` is accessible at http://localhost:4000/api/account and CouchDB is at http://localhost:5984, CouchDB’s `AuthSession` cookie will be sent to http://localhost:4000/api/accoun

[2015-11-28 20:20] #12 closed

[2015-12-01 00:09] mikehedman opened #22 "data.id is redundant in /account PATCH APIs"
For current user, the id can be assumed, and for the admin use case the id of the user to change is specified in the query string.
I think the only case where the id would be necessary in the data payload would be in the case where one wanted to change an account's id.  Would that ever be desirable though? I think probably not.

[2015-12-01 00:23] gr2m commented on #22
Thanks for the review Mike!

I see how that bit is confusing, I agree it’s redundant. But we follow the JSON API spec here, which requires to send the `"type"` and the `"id"` in the request payload: http://jsonapi.org/format/#crud-updating

[2015-12-01 00:49] #22 closed

[2015-12-01 00:53] mikehedman opened #23 "Change vs Update"
Just a semantics issue: the accounts API uses 'change', but profile uses 'update'.  The two both use PATCH, and appear to be doing the same kind of thing.  Consistency is good.  (for me, I would vote for update for both)

[2015-12-01 01:18] mikehedman opened #24 "Add 409 response for Admin account.delete"
If an admin requests the deletion with a bad id, currently the only responses available are 204 and 401, it seems like a 409 is also possible as in the update function.

[2015-12-01 01:25] gr2m commented on #24
This can be fixed in https://github.com/hoodiehq/account-json-api

[2015-12-01 01:36] gr2m commented on #23
fixed via https://github.com/hoodiehq/account-json-api/commit/a91c0eb4714cebf2656afc3a2a7b325db584cc4c

[2015-12-01 01:38] #23 closed

[2015-12-10 03:46] gr2m opened #26 "adjust api.session.add to new API"
https://github.com/hoodiehq/hoodie-server-account/tree/master/api#apisessionsadd

<table>
  <thead>
    <tr>
      <th>Argument</th>
      <th>Type</th>
      <th>Description</th>
      <th>Required</th>
    </tr>
  </thead>
  <tr>
    <th align="left"><code>options.username</code></th>
    <td>String</td>
    <td>-</td>
    <td>Yes</td>
  </tr>
  <tr>
    <th align="left"><code>options.auth</code

[2015-12-10 03:51] gr2m opened #27 "[API] sessions (🖐 blocked)"
At this point, we do not keep state on sessions, instead we rely on CouchDB’s auth system which encrypts username, salt, secret & a timestamp. We do not know how many sessions are currently active, and there is no way to invalidate a single session.

That’s why the following APIs are currently blocked

- `api.sessions.findAll()`
- `api.sessions.removeAll()`

[2015-12-12 15:44] gr2m opened #30 "Implement POST /requests route & options.requests for hapi plugin"
`POST /requests` is used to handle new requests, like password resets. For now, don’t persist requests in the database, we’ll do that later™. We will only support _virtual_ requests where we directly respond with a success or error.

---

- [x] extend JSON API spec (https://github.com/hoodiehq/account-json-api/issues/16)
- [x] Start a PR (https://github.com/hoodiehq/hoodie-server-account/pull/50)

[2015-12-21 15:49] gr2m opened #33 "use complete lodash package instead of lodash.*"
@boennemann [says](https://github.com/hoodiehq/hoodie-server-account/commit/0beb8b981f97033f013237adebbc83fad463a4e4#commitcomment-15099179)

Sounds good to me

[2015-12-23 12:35] gr2m opened #35 "Implement events"
- [ ] api.accounts events
- [ ] api.sessions events
- [ ] api.requests events

[2015-12-23 15:03] gr2m opened #37 "re-enable coverage"
undo: https://github.com/hoodiehq/hoodie-server-account/commit/fef841676380fe80c42a7dc627f55e8ec76c99fb & https://github.com/hoodiehq/hoodie-server-account/commit/d8a5f87c520e3c72586358a1fb9fefb18e05d076, then fix the tests, and update the badges in the README

[2016-01-07 15:39] gr2m commented on #30
I’ll take this one

[2016-01-08 17:04] gr2m commented on #30
Change of plans, we implement the `POST /requests` route for password resets only for now, as it is implemented in current Hoodie, by sending the new password in clear text. Not ideal, but it unblocks the Hoodie Tent release which is not meant for production anyway. I’ll make follow up issues for token-based password resets

[2016-01-08 17:20] #30 closed

[2016-01-10 15:14] gr2m opened #52 "PUT /session to return 401 Unauthorized error when user cannot be found"
Currently the server returns `404 Not Found` which is not compliant with the specification:
http://docs.accountjsonapi.apiary.io/#reference/current-user/session/sign-in

---

- [x] claim this issue (comment below or assign yourself)
- [x] setup and run tests as described here: https://github.com/hoodiehq/hoodie-server-account/blob/master/tests/README.md – there should be no failing test
- [x] [unc

[2016-01-10 15:26] gr2m opened #53 "Implement PATCH /session/account"
The account update route is currently not implemented at all:
http://docs.accountjsonapi.apiary.io/#reference/current-user/account/update

---

- [x] claim the issue (@ianstalter123)
- [x] Start PR (#63)
- [ ] Add tests to [tests/integration/routes/account-test.js](https://github.com/hoodiehq/hoodie-server-account/blob/master/tests/integration/routes/account-test.js)
- [ ] Implement the new route

[2016-01-11 06:03] ianstalter123 commented on #53
Hey - this should be implemented in account.js as account update route right? I see there is already a patch route in accounts.js?

[2016-01-11 10:59] gr2m commented on #53
@ianstalter123 exactly. the routes in accounts.js are for admins

[2016-01-11 12:46] ianstalter123 commented on #53
@gr2m yeah - looks like it should be pretty similar hopefully will give it a try - thanks.

[2016-01-11 13:38] gr2m commented on #53
cool, let me know if you need any help :)

[2016-01-15 15:29] fgkramer commented on #52
I'll gladly take it

[2016-01-15 15:47] gr2m commented on #52
all yours @fgkramer  :)

[2016-01-17 09:55] gr2m opened #60 "implement PATCH /session/account/profile"
The `/session/account/profile` route is for accessing and changing non-sensitive user data

---

- [x] claim this issue (@antoinelyset)
- [ ] start a pull request
- [ ] write tests for `PATCH /session/account/profile` in [tests/integration/routes/account-test.js](https://github.com/hoodiehq/hoodie-server-account/blob/master/tests/integration/routes/account-test.js)
- [ ] implement `PATCH /session/

[2016-01-17 10:24] patriciagarcia commented on #11
I'll take this one

[2016-01-17 15:38] janl commented on #33
https://github.com/hoodiehq/hoodie-server-account/pull/61

[2016-01-17 15:38] #33 closed

[2016-01-17 17:08] patriciagarcia commented on #11
Missing updating the README yet :-) (but PR ready for review)

[2016-01-18 00:27] Jameskmonger commented on #60
What's the difference between this and `PATCH /session/account?include=profile`, @gr2m ?

[2016-01-18 12:19] gr2m commented on #60
`PATCH /session/account?include=profile` updates account, but response includes profile. `PATCH /session/account/profile` updates profile. JSON API currently cannot update both at once, they are working on a spec / extension

[2016-01-20 09:21] antoinelyset commented on #60
I would love to give a try :) (I don't want to block someone if this person if faster than me).

[2016-01-20 09:41] gr2m commented on #60
Give it a shot @antoinelyset, you are not blocking anyone :) Let me know if you have any questions

[2016-01-20 12:43] Jameskmonger commented on #60
That's fine @antoinelyset, I hadn't started - was just curious! Good luck :+1:

[2016-01-20 14:07] gr2m commented on #60
Oh sorry @Jameskmonger, I didn’t meant to take it away from you, I didn’t know you planned to work on it. I’m happy to find something else for you to work on, ping me anytime in our hood.ie/chat or on twitter.com/gr2m

[2016-01-20 14:35] Jameskmonger commented on #60
No @gr2m it wasn't sarcasm - I didn't plan to work on it! I was just looking into the code and trying to see what the difference between the two parts was :stuck_out_tongue: I hadn't planned to work on it at all :smile:

[2016-01-22 10:33] #11 closed

[2016-01-24 14:02] #60 closed

[2016-01-25 14:38] gr2m commented on #52
@fgkramer, are you still looking into this?

[2016-01-26 02:10] fgkramer commented on #52
Sorry, I've been busy and I hadn't had time to see this. Feel free to
reasign it and please accept my apologies.

2016-01-25 11:38 GMT-03:00 Gregor Martynus <notifications@github.com>:

[2016-01-26 12:05] gr2m commented on #52
no worries at all @fgkramer :) I’ll remove our comments so people looking into it don’t get confused

[2016-01-27 10:40] #53 closed

[2016-02-02 13:13] patriciagarcia commented on #52
The server returns [whatever the CouchDB mock throws](https://github.com/hoodiehq/hoodie-server-account/blob/e37cbdd5d364d1d1cffc583929fd17f8ca07eedf/tests/integration/routes/session-test.js#L145), currently 404, but I am not sure that is right.

 I was trying to sign in in CouchDB with a random username/password and I get `{"error":"unauthorized","reason":"Name or password is incorrect."}` instea

[2016-02-02 19:44] gr2m commented on #52
We don’t use CouchDB for authentication, but have our own implementation. We first lookup the user account [here](https://github.com/hoodiehq/hoodie-server-account/blob/master/api/sessions/add.js#L10) and then validate the passed password. But if the user cannot be found with `state.db.get('org.couchdb.user:' + options.username)`, the server returns a 404.

We have an own implementation instead of

[2016-02-03 13:26] patriciagarcia commented on #52
Ah, ok, so our server is logged as admin to the database and is just requesting the user document?

[2016-02-03 16:30] gr2m commented on #52
there is no "logged in as admin" thing, really. You have a PouchDB instance for the users database that we can work directly against, without security (so we have to be careful with it). When you sign in, we try to find the user doc for the given username, if we find it, we validate the password by calculating the password hash for the password parameter with the hash in the user doc.

[2016-02-03 19:06] patriciagarcia commented on #52
Ah, got it now, thanks!

[2016-02-15 14:15] patriciagarcia commented on #52
Pending fix on the integration tests (@gr2m, all yours :-))

[2016-02-15 16:14] gr2m commented on #52
done: https://github.com/hoodiehq/hoodie-app-something-tracker/blob/master/test/account-test.js#L98-L101

[2016-02-15 16:14] #52 closed

[2016-02-15 20:26] gr2m opened #79 "Implement username change"
### :bug: The bug

Currently, `PATCH /session/account` request with `{"username": "newusername"}` results in an update of `/_users/org.couchdb.user:oldusername`. The `username` property gets set to `newusername`.

The account update within the `PATCH /session/account` route handler is implemented [here](https://github.com/hoodiehq/hoodie-server-account/blob/e9c1f0f0c84fccdab962531d61cabbe675da3c56

[2016-02-15 22:24] gr2m opened #80 "PATCH /session/account: respond with `x-set-session` header"
related to https://github.com/hoodiehq/hoodie-client-account/issues/75

### :bug: The problem

Hoodie’s session ID gets invalidated if a username or password gets changed.

### :dart: How to fix

In order to update the session id on the client, we want to set the `x-set-session` header with a new session ID to each `PATCH /session/account` 200 response.

### :clipboard: Step by Step

- [x] claim t

[2016-02-15 23:22] gr2m opened #81 "GET, PATCH, DELETE /session/account sould respond with 401 Invalid session, not 404 Not found"
### The problem

When sending a `GET /session/account` request with an invalid session, the server responds with 404, as this is what [`session.find`](https://github.com/hoodiehq/hoodie-server-account/blob/e9c1f0f0c84fccdab962531d61cabbe675da3c56/routes/account.js#L82-L84) returns.

### What we want

The correct way is to catch the `404` error and replace it with a `401` as we do it in [`GET /sess

[2016-02-18 13:31] patriciagarcia opened #83 "Inconsistencies between implementation and API spec"
It seems that the current implementation is not completely compatible with the API [spec](http://docs.accountjsonapi.apiary.io/), here is the list of differences I found, for creating follow up issues.

Some things to take into account:
- to look for inconsistencies, I only checked the tests, not the actual implementation, I thought it was a better idea because this way I can find all the missing

[2016-02-18 19:37] passcod commented on #83
Also, unless I've missed it, the spec doesn't mention that admins don't have a profile, as this issue suggests.

[2016-02-18 19:48] gr2m commented on #83
the handling of admins is specific to Hoodie, it’s out of scope of the generic account JSON API spec

[2016-02-18 20:57] passcod commented on #83
That's fine, but the spec has this line:

Which to me parses as:

So are Hoodie admins non-compliant or should the spec mention that profiles are actually optional? Or alternatively, should this line in the spec be parsed as:

[2016-02-18 21:07] gr2m commented on #83
yes, I’m sorry, Hoodie admins are not actual accounts that you can sign in with, they are only used to manage your app settings, other accounts, etc.

So we implement the Spec for normal user accounts in `hoodie-server-account`, Admins are treated differently, but that is special to Hoodie and does not need to be specified in the Spec. The Spec is not tied to Hoodie

[2016-02-20 10:02] matt-major commented on #81
PR #84 submitted to make this change.

[2016-02-20 19:34] #81 closed

[2016-02-20 19:40] gr2m commented on #81
Great work, thanks a ton @matt-major :bouquet: Your work has been released in https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.2 :shipit:

I’ve invited you to https://github.com/orgs/hoodiehq/teams/contributors, we’d love to welcome you. If there is anything we could improve with our "Starter" issues or with this issue in particular, we’d love to hear it, we always try to improv

[2016-02-20 20:18] matt-major commented on #81
Thanks @gr2m! My pleasure.

I'll take a look at the other tasks that are available see what I can pick up for you.

[2016-02-21 16:14] gr2m opened #85 "PUT /session to return 401 Invalid credentials, not 401 Invalid password"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat: First Timers only

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

---

### :bug: The Bug

Our implementation diverges fr

[2016-02-21 17:26] breun commented on #85
I'm giving this a go!

[2016-02-21 17:49] breun commented on #85
I forked the repository to my GitHub account, cloned it to my computer and ran `npm install`. Sadly that throws all kinds of connection errors:

[code]

The whole things seems to hang now. I'm not behind a proxy AFAIK.

[2016-02-21 18:09] gr2m commented on #85
Weclome @breun, issue is all yours :)

I’m looking into the problem now.

[2016-02-21 18:20] gr2m commented on #85
@breun I had no luck, I’m afraid. It might have been a temporary hiccup. Can you try this please:

[code]

And post the logs somewhere? It might be quite a lot, so maybe put it in a gist and link it here if possible.
If it fails again, can you try to install something else? like `npm install --global npm@2` to update your npm to the latest 2.x.x version?

[2016-02-21 18:50] breun commented on #85
I updated to npm 2.14.19 and tried again. It doesn't seem to be a temporary hiccup, I already retried twice before and `npm install` fails (and hangs) again: https://gist.github.com/breun/73e51484366450904947

[2016-02-21 19:39] gr2m commented on #85
What was before `npm sill install resolved []`?

[2016-02-21 19:42] gr2m commented on #85
I’m running a bit out of ideas :/ Did you ever install something with `sudo npm install`?

Can you try `npm config set registry http://registry.npmjs.org/`. If it doesn't help, reset it with `npm config set registry https://registry.npmjs.org/`

[2016-02-21 20:07] breun commented on #85
After running `npm config set registry http://registry.npmjs.org/` the `npm install` command finished successfully. I'm not a big fan of disabling HTTPS though.

I recently also had an issue with git clones done by MacPorts failing because of a certificate issue: https://trac.macports.org/ticket/50469

These issues might have the same root cause (my `npm` is also installed via MacPorts), but in bo

[2016-02-21 20:14] gr2m commented on #85
try to uninstall your node & npm entirely, and install it as advised on https://nodejs.org/en/

[2016-02-21 20:35] breun commented on #85
Yeah sorry, no, not gonna do that. I prefer finding and fixing the cause of this issue to starting over with an npm install not managed by a package manager.

I have a fix ready though.

[2016-02-21 20:51] gr2m commented on #85
fixed via https://github.com/hoodiehq/hoodie-server-account/pull/86. Thanks a ton @breun :+1:

We have more starter issues if you’d like to give it another spin: http://go.hood.ie/hoodie-starter-issues
I’ve also invited you to the https://github.com/hoodiehq/ contributors team, welcome :)

[2016-02-21 22:00] #85 closed

[2016-02-21 22:56] breun commented on #83
The second item under `PUT /session` says `Invalid credentials -> Invalid password`, but it should be the other way around. :o)

[2016-02-21 22:58] gr2m commented on #83
fixed, thanks @breun

[2016-02-21 23:18] breun commented on #85
I'm actually not doing much JavaScript normally, but I enjoy seeing how this project deals with issues, tests, getting people involved, etc., so I might just fix a few issues if I can find the time. Thanks for the invite.

[2016-02-21 23:21] gr2m commented on #85
Glad to hear that, thanks for the feedback :)

[2016-02-22 16:21] nolanlawson commented on #85
`rm -fr node_modules && npm cache clear && npm install` is often a good choice for stuff like this. I agree node/npm can be a pain when it gets into a weird state, though, and a full reinstall is sometimes necessary (especially if `sudo` was ever, ever involved...).

[2016-02-24 05:40] gr2m commented on #83
I suggest we simply reference the JSON API query parameters instead of repeating the JSON API spec in our own. I’ve started a PR here: https://github.com/hoodiehq/account-json-api/pull/23 any thoughts?

[2016-02-24 06:10] gr2m opened #87 "PUT /session to return 400 Bad Request for invalid ?include=<path>"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

---

### :bug: The Bug

`hoodie-server-account

[2016-02-24 12:50] c-ro commented on #87
I'll take this if nobody else has.

[2016-02-24 14:33] gr2m commented on #87
All yours :+1:

[2016-02-24 23:06] c-ro commented on #87
I've got the test written/failing but:

Get this error when trying to create PR:

I tried to skip the PR and save until I'd made some changes but I can't seem to locate code that needs to be fixed in the first place.  What am I missing?

[2016-02-24 23:26] gr2m commented on #87
I think you tried pushing your branch to https://github.com/hoodiehq/hoodie-server-account, not your fork? I can add you as collaborator to fix that :)

[2016-02-25 04:17] c-ro commented on #87
Thanks for your help, should be ready!

[2016-02-25 21:40] gr2m commented on #87
merged via https://github.com/hoodiehq/hoodie-server-account/pull/88

Great work @c-ro, thanks a lot :)

We have some more starter issue if you like: http://go.hood.ie/hoodie-starter-issues There are also some which are more challenging that you see when you remove the "starter" label from the filters

[2016-02-25 21:40] #87 closed

[2016-02-25 21:40] gr2m commented on #87
released with https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.4 :ship:

[2016-02-25 21:52] gr2m commented on #83
I think all issues regarding the spec not mentioning query arguments like `PUT /session?include=account.profile` have been addressed by https://github.com/hoodiehq/account-json-api/pull/23 – @patriciagarcia would love your feedback on this

[2016-02-25 22:19] c-ro commented on #87
Thanks for the patience and kinds words @gr2m!  I'll try to knock out another issue when I get a chance.

[2016-02-25 22:20] gr2m commented on #79
Added "first-timers-only" as in: your first contribution to Hoodie :)

[2016-02-26 00:12] nickcolley commented on #87
Thanks Ryan :D :tada:

[2016-02-26 02:51] gr2m commented on #80
Added "first-timers-only" as in: your first contribution to Hoodie, not necessarily to Open Source in general :)

[2016-02-27 03:59] artivilla99 commented on #80
Can I take this?

[2016-02-27 04:00] gr2m commented on #80
Absolutely :)

[2016-02-28 00:07] gr2m commented on #83
@patriciagarcia I’m going and rewording your list to make it simpler to create starter issues out of them. I removed this one

I think if authentication is not needed, it can be simply ignored, no need to throw an error? Maybe there is a test case for that though :)

[2016-02-28 20:56] gr2m opened #90 "return helpful error message for invalid data.type in payload"
Part of https://github.com/hoodiehq/hoodie-server-account/issues/83

I’m working on this myself right now, to prepare a few things so I can prepare starter issues for similar issues listed in #83

[2016-02-28 21:32] gr2m opened #92 "Error message if "authorization" Header is not allowed"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### :bug: The Bug

Both `PUT /session` and `PU

[2016-02-28 21:54] gr2m opened #93 "PUT /session?include=account.profile -> 400 Bad request for admins"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### :bug: The Bug

We differentiate between no

[2016-02-28 22:49] gr2m opened #94 "When authorization is required but missing, return with 401"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### :bug: The Bug

Requests like `GET /session

[2016-02-29 20:07] alisabzevari commented on #94
Hi, I want to contribute on this issue as my first one!

[2016-02-29 20:45] gr2m commented on #94
yaaay all yours :)

[2016-02-29 21:46] gr2m opened #95 "GET /session: 404 should be 401"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### :bug: The Bug

The handler for the  [GET /

[2016-02-29 23:36] gr2m opened #96 "DELETE /session: 404 should be 401"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### :bug: The Bug

The handler for the  [DELET

[2016-03-01 01:52] gr2m opened #97 "PUT /session/account 409 error message"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 02:53] gr2m opened #98 "GET /session/account: "404 Admins have no accounts" error"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 03:23] gr2m opened #99 "PATCH /session/account -> 204"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 03:53] gr2m opened #100 "PATCH /session/account -> 409 "data.id must be '{id}'" error"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 04:10] gr2m opened #101 "GET /session/account/profile: "404 Admins have no profiles" error"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 04:22] gr2m opened #102 "PATCH /session/account/profile -> 204"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 04:31] gr2m opened #103 "PATCH /session/account/profile: "404 Admins have no profiles" error"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 04:42] gr2m opened #104 "PATCH /session/account/profile -> 409 "data.id must be '{id}'" error"
This is a [starter issue](http://hood.ie/blog/starter-issues.html). It’s part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across man

[2016-03-01 04:57] #90 closed

[2016-03-02 10:04] hyperperforator commented on #95
This looks like a great place to try my first public PR.... I'm going to give it a go! :)

[2016-03-02 10:19] nickcolley commented on #95
Woop, thanks @hyperperforator. I've assigned you, let us know if you need any help!

[2016-03-02 13:17] alinebastos commented on #92
Hi, I'm claiming this issue for my first PR :)
I don't know where to assign.

[2016-03-02 13:26] nickcolley commented on #92
Hey @alinebastos I've updated the issue so you're assigned, thanks for looking into this. :<)

[2016-03-02 15:05] austinjreilly commented on #93
I'd like to take this on if no one else has yet.

[2016-03-02 16:26] gr2m commented on #93
all yours :)

[2016-03-02 18:11] alexeyzab commented on #96
Hi there! I'd like to claim this issue. Thanks!

[2016-03-02 18:18] gr2m commented on #96
Welcome @alexeyzab :wave: the issue is all yours :) Don’t hesitate to ping us if you have any questions :)

[2016-03-02 18:22] alexeyzab commented on #96
@gr2m Thank you! :)

[2016-03-02 22:01] alexeyzab commented on #96
Hey @gr2m, the tests seem to be passing, but I am not entirely confident in my solution. Let me know, if there are things I should change or improve. Thank you!

[2016-03-02 22:06] gr2m commented on #96
Thanks @alexeyzab, I’ll check it later today or latest tomorrow. But maybe somebody else from the Hoodie community is faster than me ;)

[2016-03-02 22:07] alexeyzab commented on #96
Gotcha, thanks again!

[2016-03-03 01:30] stevemasta34 commented on #98
I'd love a swing at this one. Seems very straight forward

[2016-03-03 11:08] alisabzevari commented on #94
Here is the PR: https://github.com/hoodiehq/hoodie-server-account/pull/107

[2016-03-03 16:10] #98 closed

[2016-03-03 16:20] gr2m commented on #98
Thanks @stevemasta34 and congratulations, not only to your first contribution to Hoodie :tada: :dog: but to your First PR :fireworks: :clap: :dancers: http://firstpr.me/#stevemasta34

We happily invite you to our @hoodiehq/contributors team. If you like, you can accept the invitation here: https://github.com/hoodiehq (you probably received an email notification from GitHub, too)

If you don’t mind

[2016-03-03 17:08] gr2m commented on #98
The new version was released as [v2.6.6](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.6) :+1:

[2016-03-04 13:52] nickcolley commented on #92
:tada: Thanks for contributing @alinebastos ! Congrats on your first PR too :dancer:   http://firstpr.me/#alinebastos :P

[2016-03-04 13:53] #92 closed

[2016-03-04 13:56] alinebastos commented on #92
Thanks :dancer: :octocat:

[2016-03-04 18:24] gr2m commented on #92
:clap: great work everyone :)

[2016-03-04 18:38] tnguyen14 commented on #104
I'd love to tackle this if possible (I'm completely new to the hoodie project).

[2016-03-04 23:12] roubaeli commented on #97
Can I claim this issue for my first PR?

[2016-03-05 21:59] gr2m commented on #97
absolutely :) I assigned the issue to you, thanks for looking into it Eliška

[2016-03-05 22:45] gr2m opened #113 "POST /requests to reset password -> server response if notifications.transport is not configured"
To reset a password, the account server accepts this request (simplified):

[code]

If no email transport is configured, the server currently responds with `503`: [/routes/requests.js#L29-L32](https://github.com/hoodiehq/hoodie-server-account/blob/a217587/routes/requests.js#L29-L32). I think it’s meant for servers that are overloaded only, but on the other side the specification says "The implicat

[2016-03-06 15:41] ederribeiro commented on #95
This issue is already assigned? I want to solve this...

[2016-03-06 15:45] ederribeiro commented on #101
Hello,
I want to solve this issue...

[2016-03-06 16:43] gr2m commented on #95
@ederribeiro yes @hyperperforator got this one, but this one’s yours: https://github.com/hoodiehq/hoodie-server-account/issues/101#issuecomment-192918166 :+1:

[2016-03-06 16:44] gr2m commented on #101
All yours Eder :+1:

[2016-03-06 17:21] #101 closed

[2016-03-06 17:23] gr2m commented on #101
released as [v2.6.8](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.8) :ok_hand:

[2016-03-06 19:00] gr2m commented on #104
@tnguyen14 welcome Tri :) The issue is all yours

[2016-03-06 19:26] #94 closed

[2016-03-06 19:28] gr2m commented on #94
released as [v2.6.9](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.9) :+1:

[2016-03-06 19:40] gr2m commented on #96
ugh I’m so sorry I didn’t get to look into it after all as promised, but looking at it now.

[2016-03-07 19:22] bartw commented on #99
I started a pull request for this issue

[2016-03-07 20:09] alisabzevari commented on #79
Can I pick this one?

[2016-03-07 20:49] gr2m commented on #79
sure, good luck Ali :+1:

[2016-03-07 22:38] #99 closed

[2016-03-07 23:05] gr2m commented on #99
Thank you @bartw – your fix has been released in [v2.6.10](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.10) :clap:

We are stoked that Hoodie is the very first project you ever contributed to: http://firstpr.me/#bartw I hope it was a nice experience for you, welcome to the open source community :tada:

And welcome to Hoodie :dog: We happily invite you to the Contributors Tea

[2016-03-07 23:06] gr2m commented on #99
Oh one thing: are you on Twitter? If yes, would you mind if we give a shout out at https://twitter.com/hoodiehq?

[2016-03-08 10:55] antoinelyset commented on #102
Hi everyone ! I don't really understand if this issue if for the PATCH or the GET method. The uncommented test is for a GET call. Am I missing something ?

[2016-03-08 18:38] bartw commented on #99
I'm on twitter. You can shout me out at https://twitter.com/BartWijnants

[2016-03-08 21:16] gr2m commented on #102
Copy & Paste fail by me, I’m sorry, I’ll look into it asap and clarify the instructions :)

[2016-03-08 22:35] gr2m commented on #102
okay, can you remove the commented out lines entirely from the `get-profile-test.js` file, and move them here instead: https://github.com/hoodiehq/hoodie-server-account/blob/6ba8cf6be7da74743defdeb149b6199ef9055219/tests/integration/routes/profile/patch-profile-test.js#L79-L82

Sorry, I’ve put them into the wrong file :(

[2016-03-09 02:40] seanjohnite commented on #100
Can I try this one?

[2016-03-09 06:12] gr2m commented on #100
Absolutely, all yours Sean :)

[2016-03-09 16:28] seanjohnite commented on #100
Thanks gr2m! I saw your talk at BostonJS and was compelled to check out these starter issues : ).

[2016-03-09 17:08] gr2m commented on #100
fixed by https://github.com/hoodiehq/hoodie-server-account/pull/116

[2016-03-09 17:08] #100 closed

[2016-03-09 17:18] gr2m commented on #100
Welcome Sean :wave: :dog: Thanks a lot for your first contribution to Hoodie, your fix was just released in [hoodie-server-account@2.6.11](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.11) :clap:

Are you on twitter? Would you mind us giving you a shout out?

I’d love to hear how you liked the experience, and if you have any idea how we can improve it? We are always eager to

[2016-03-10 04:21] austinjreilly commented on #93
I just went through this and tried to follow all the steps correctly. Please review my [pull request](https://github.com/hoodiehq/hoodie-server-account/pull/118) and let me know what needs to be adjusted. I especially wasn't sure about [changing the deepEqual method](https://github.com/austinjreilly/hoodie-server-account/commit/fa297eb050024ab96d19c945a889c8ed5d22f5ca#diff-7f97de7aeb9e797b4d0ec6d6

[2016-03-10 18:35] gr2m commented on #93
released as [hoodie-server-account@2.6.12](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.12)

Thanks and congratulations to your first contribution to Hoodie :tada: I’m happy to invite you to Hoodies Contributors team, you should see an invite to https://github.com/hoodiehq. That way you can create branches directly on our repository, no need to fork any more :)

If you would

[2016-03-10 18:51] gr2m commented on #102
merged via #117. Released in [hoodie-server-account@2.6.13](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.13)

Thanks and for another contribution to Hoodie :tada:

If you would like to contribute more, we don’t have any starter issues at this point, but a few other things were you could help us, if you like. Just ping me, I’m in our [Hoodie Chat](http://hood.ie/chat/) most o

[2016-03-10 20:58] gr2m commented on #92
Hey @alinebastos, are you on Twitter? Would you mind us give you a shout out on https://twitter.com/hoodiehq?

[2016-03-10 20:59] gr2m commented on #92
okay sorry, that already happened: https://twitter.com/hoodiehq/status/705766091117699073 :D

[2016-03-10 21:13] alexeyzab commented on #96
Sure thing, yep, that's the one! It was a fun and pleasant experience, thank you for all your help! :)

[2016-03-10 21:20] gr2m commented on #96
If you would like to contribute again, ping me, happy to help find something nice :) We are out of starter issues, but there are other things were we need help. Most important for us right now are the ones listed here: https://github.com/gr2m/milestones/issues/88

[2016-03-10 21:21] alinebastos commented on #92
:D :D

On Thu, Mar 10, 2016 at 5:59 PM, Gregor Martynus <notifications@github.com>
wrote:

--
Aline Bastos

[2016-03-10 21:24] gr2m commented on #101
Would you mind us give you a shout out at https://twitter.com/hoodiehq? Your twitter account is https://twitter.com/ApuSoft – right?

I’ve also missed to invite you to our Contributors team at Hoodie, you should see the invitation at https://github.com/hoodiehq. We would love to welcome you :)

If you feel like contributing again, let us know :) We are out of starter issues, but there are other th

[2016-03-10 21:25] alexeyzab commented on #96
Gotcha, looking forward to contributing again!

[2016-03-10 22:09] gr2m commented on #80
Hey @artivilla99, are you still working on this?

[2016-03-11 02:50] seanjohnite commented on #100
I am on twitter at the same handle as github and would be fine with a shoutout! Thanks for the invite to the team!

The experience was great! I really appreciated the step by step instructions. I'm not super familiar with Hapi (mostly worked with the Express framework), so there was a bit of a learning curve to figure out what was going on. Perhaps if there was a general readme about the structure

[2016-03-11 09:02] antoinelyset commented on #102
Of course ! I'm @antoinelyset on Twitter.

[2016-03-11 16:54] gr2m commented on #102
Awesome thanks :) We gave you a shout out in our latest TGIF, too http://hood.ie/blog/lave-revision-artificial-maker.html Thanks again for your contribution!

[2016-03-13 15:55] bryanbierce commented on #103
Hey I'd love to take this issue if it's still open :)

[2016-03-13 16:36] gr2m commented on #103
Yes it is, welcome @bryanbierce

[2016-03-13 22:40] gr2m commented on #96
fixed via #106

[2016-03-14 01:22] gr2m opened #120 "README: fix anchor link"
### :bug: The Bug

<img width="990" alt="screen shot 2016-03-13 at 21 08 41" src="https://cloud.githubusercontent.com/assets/39992/13732770/de2ef7fc-e95f-11e5-9f2c-fdd4d7c318ed.png">

In the [README of this repository](https://github.com/hoodiehq/hoodie-account-server), you see a weird looking `[Constructor](#constructor)` in the [api.sessions.add() section](https://github.com/hoodiehq/hoodie-serv

[2016-03-14 18:54] austinjreilly commented on #93
Letting someone else change the `t.deepEqual` to `t.is` is perfeclt fine with me. I'll be pinging you on Hoodie Chat. Thanks!

[2016-03-15 18:27] gr2m commented on #100
Hey @seanjohnite, I found something you might be interested in, this time it’s on the Hoodie client side, so no Hapi.

The [hoodie-client-connection-status](https://github.com/hoodiehq/hoodie-client-connection-status) repo has only 98% test coverage, and we try to have 100% in all our repos. Would you like to look into that? I can make an issue with a few instructions, the instructions will be ver

[2016-03-17 00:16] austinjreilly opened #122 "Wrong Assertion in Unit Test"
## :bug: The Bug

I recently submitted a [pull request](https://github.com/hoodiehq/hoodie-server-account/pull/118) which does not match the conventions of other tests in that file.

## :dart: The Goal

Change the code I added to match the other tests in `tests/integration/routes/profile/patch-profile-test.js`.

## :clipboard: Step by Step

- [x] Claim this issue (@kazekagegaara)
- [x] [Setup repo

[2016-03-18 01:07] kazekagegaara commented on #122
So the change to make is to change `t.deepEqual` on line 111 to `t.is`? Or is there anything else too?

[2016-03-18 13:43] piton4eg commented on #122
I can look on it, if it's free

[2016-03-18 20:30] gr2m commented on #122
Yes :) @kazekagegaara wanna work on it? Otherwise @piton4eg would take it. It’s first-come-first-served :)

I’ll also prepare more issues this weekend, so watch this place :)

[2016-03-18 20:58] kazekagegaara commented on #122
I'll take this one. Sorry @piton4eg !

[2016-03-18 21:10] kazekagegaara commented on #122
Ok, I get an error while doing `npm install`. Here's the error :

[code]

I tried `npm install @gar/hapi-json-api` but I get the same error.

Also, you might want to add `npm-debug.log` in `.gitignore`.

[2016-03-18 21:23] gr2m commented on #122
hm the package is there: https://www.npmjs.com/package/@gar/hapi-json-api. Do you use any kind of proxy like https://github.com/nolanlawson/local-npm?

can you try `npm_config_loglevel=verbose npm install @gar/hapi-json-api` and paste your output here?

[2016-03-18 21:29] kazekagegaara commented on #122
I'm not using any proxy(none that I'm aware of). But, I can go back home and try this again on my personal computer.
The requested output :

[code]

[2016-03-18 21:35] gr2m commented on #122
ahh I know what the problem is, your `node` / `npm` versions are very outdated. Best is to install node from scratch form https://nodejs.org/en/, both LTS and stable will work. It will update `npm`, too. Could you please try that?

[2016-03-18 21:38] kazekagegaara commented on #122
Ahh. I will have to use my personal computer then, I don't have admin access on this one. Sorry about the delay, expect a PR within 4-5 hours.

[2016-03-18 21:39] gr2m commented on #122
you should not need admin access to install it, I _think_. But also no worries about the delay, there is no rush, thanks for hanging in there :)

[2016-03-18 21:50] gr2m commented on #4
remaining issue is #10, closing this one

[2016-03-18 21:50] #4 closed

[2016-03-18 21:56] gr2m commented on #95
@hyperperforator are you still working on this one?

[2016-03-18 22:01] gr2m commented on #79
@alisabzevari are you still loking into this one?

[2016-03-18 22:04] gr2m commented on #80
Hey @artivilla99, do you still want to look into that issue? If not no problem, I’ll free it up from somebody else

[2016-03-18 22:04] #96 closed

[2016-03-18 22:06] #102 closed

[2016-03-19 05:50] alisabzevari commented on #79
@gr2m Sorry. I had busy days. I will make a progress in the next few days.

[2016-03-19 16:58] artivilla99 commented on #80
Hi @gr2m I just started new work and then got distracted learning stuff on nodeschool. Free it up and if I manage to figure it out, i'll send a PR. If someone get's to it before me all good!

[2016-03-19 19:23] gr2m commented on #80
Okay Thanks for the update. Good luck with the the new  work :)

[2016-03-19 22:07] gr2m opened #124 "POST /accounts Add test for 401, "Session invalid" if user is not an admin"
<a href="https://ti.to/hoodie/dc-meet-the-hoodies"><img width="664" alt="This issue is prepared for our Meet The Hoodies event in Washington DC on March 20th" src="https://cloud.githubusercontent.com/assets/39992/13901581/169ced44-edff-11e5-93d7-aaf3ef673fbc.png"></a>

### :dart: The goal

When running `npm test` then all specifications from the [Account JSON API Spec](http://docs.accountjsonapi.a

[2016-03-19 22:28] gr2m opened #125 "POST /accounts Add test for 401 because of invalid session"
<a href="https://ti.to/hoodie/dc-meet-the-hoodies"><img width="664" alt="This issue is prepared for our Meet The Hoodies event in Washington DC on March 20th" src="https://cloud.githubusercontent.com/assets/39992/13901581/169ced44-edff-11e5-93d7-aaf3ef673fbc.png"></a>

### :dart: The goal

When running `npm test` then all specifications from the [Account JSON API Spec](http://docs.accountjsonapi.a

[2016-03-20 14:28] gr2m commented on #103
done via https://github.com/hoodiehq/hoodie-server-account/pull/119. Released as [v2.6.15](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.15). Thanks Bryan and welcome to Hoodie :tada:

I’ve invited you to the Hoodie Contributors team, you should see an invite on https://github.com/hoodiehq

Let me know if you’d like to keep contributing, I’m sure we can find something :)

[2016-03-20 16:41] Oladele commented on #125
I'm looking into  this right now.

[2016-03-20 17:40] JayWIlsonJr commented on #124
I will look into this.

[2016-03-20 17:48] gr2m opened #127 "POST /accounts?include=foobar"
part of https://github.com/hoodiehq/hoodie-server-account/issues/83

### :octocat:  Your First Pull Request?

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

### :dart: The goal

When running `npm test` t

[2016-03-20 19:04] bryanbierce commented on #103
Thanks! I’d love to keep contributing. If you have anything in particular that you know no one is tackling or you think would be a good place to start diving in deeper I’m game.

[2016-03-20 19:43] #125 closed

[2016-03-20 20:08] gr2m commented on #125
Woop welcome at Hoodie @Oladele \o/ The new version has been released as [v2.6.16](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.16) :+1:

[2016-03-20 20:49] gr2m commented on #103
Hey Bryan we run into an interesting bug here:
https://github.com/hoodiehq/hoodie-server-account/pull/129

make sure to rebase Jay’s fork on latest master first, and then it’s about to find out where the `400` error comes from, it should be 401. Just comment in the thread if you want to look into it. I’m happy to help if you have any questions

[2016-03-21 09:44] hyperperforator commented on #95
Oooh, yes! Sorry, I'll take a look tonight. Was stuck but can't remember why... I'll be back soon!

[2016-03-21 18:15] finnp opened #130 "Migrate to new architecture"
part of https://github.com/hoodiehq/hoodie/issues/458

- [x] rename to `hoodie-account-server`
- [x] in `package.json`, set `"name"` to `"@hoodie/account-server"`, and add `"publishConfig": {"access": "public"}`
- [x] find `hoodie-account-server` and replace with `hoodie-account-server`
- [x] do commits as in https://github.com/hoodiehq/hoodie-log/issues/31

Once merged

- [x] deprecate `hoodie-se

[2016-03-22 14:59] gr2m commented on #104
merged via #121, released as [v2.6.17](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.17).

Congratulations and thank’s a lot :bouquet: for your first PR to Hoodie :) We have invited you to the contributors team. If you like you can accept the invitation at https://github.com/hoodiehq. As Hoodie Team member you can push directly to our main repositories, no need to do forks. T

[2016-03-22 15:13] tnguyen14 commented on #104
Many thanks @gr2m! this is honestly the best contributing experience to an open source project I've had (not that I've had many to compare to). Really appreciate your patience and guidance throughout. I am on twitter `@tridnguyen`.

[2016-03-22 15:56] #104 closed

[2016-03-23 04:03] gr2m commented on #122
fixed via https://github.com/hoodiehq/hoodie-server-account/pull/123

Welcome at Hoodie, Manit! :wave: :dog: Are you on twitter? We like giving shout outs to new contributors :)

Let me know if you’d like to keep contribution, I’m happy to help find something.

[2016-03-23 04:03] #122 closed

[2016-03-23 04:08] kazekagegaara commented on #122
@gr2m definitely. I would love to contribute more and learn. My twitter handle is @ manitsinghkalsi.

[2016-03-23 04:42] gr2m commented on #122
Cool feel free to look around if you see something interesting :) I’ll also look myself as soon as I find time and get back to you

[2016-03-23 12:49] stevemasta34 commented on #35
Can I get a little more description on what these desired "events" are?

[2016-03-23 16:52] gr2m commented on #35
Hey @stevemasta34, these events are about the account JavaScript API that we use within the route handlers, but also expose at `server.plugins.account.api`. You can see the full documentation at https://github.com/hoodiehq/hoodie-server-account/blob/master/api/README.md, the events are described here: https://github.com/hoodiehq/hoodie-server-account/blob/master/api/README.md#events

We can start

[2016-03-24 21:50] #97 closed

[2016-03-24 21:56] gr2m commented on #97
yaaay :tada: welcome to Hoodie :dog: and CONGRATULATIONS TO YOUR FIRST PR :star2: :clap: :+1:

I’ve invited you to the Hoodie team, you should see the invitation on top of https://github.com/hoodiehq

We love giving shout outs to our newest contributors on Twitter. Do you have a twitter account?

If you would like to look into something else, have any questions or just want to hang out, come join

[2016-03-24 21:59] gr2m commented on #97
released as [v2.6.18](https://github.com/hoodiehq/hoodie-server-account/releases/tag/v2.6.18)

[2016-03-24 22:16] codyzu commented on #127
Hello, I would enjoy getting involved and therefore claiming this issue (nice step by step, btw).

[2016-03-24 23:37] #127 closed

[2016-03-24 23:41] gr2m commented on #127
released as [v2.6.19](https://github.com/hoodiehq/hoodie-server-account/releases/tag/)

Welcome at Hoodie @codyzu :) We love giving shout outs to new contributors on Twitter, do you have an account?

I don’t have anything out of my head that you could work, but please look around, these repositores are the ones we are currently working on for the upcoming Hoodie Release: https://github.com/hoodieh

[2016-03-25 15:59] codyzu commented on #127
Thanks @gr2m !

You can find me on the twitters @codyzus

I'll find some time to look around and checkout the chat this weekend.

My preference is backend node.js. About me, I'm a software engineer with nearly 10 years experience in C, C++, C#, Java, and recently node.js. I'm looking to get involved in an interesting open source project where I can contribute with node.js... Let me know if you hav

[2016-03-25 17:18] roubaeli commented on #97
Yes I have (@roubaeli) :-) Thanks for great guidance. Hope I'm gonna be able to do that for someone someday.

[2016-03-25 21:12] gr2m commented on #97
@roubaeli it was our pleasure :) If you like, you are more than welcome to help us prepare starter issues like this one :) We have this big list here that still has several inconsistencies: https://github.com/hoodiehq/hoodie-server-account/issues/83 for which we can prepare starter issues. We also blogged about how we prepare these kind of issues here: http://hood.ie/blog/starter-issues.html :)

[2016-03-25 21:38] gr2m commented on #127
Welcome @codyzu! One can tell that you have experience, your pull request was A+ :)

We don’t have good docs on that yet so let me give you a quick summary about the Hoodie Architecture.

Hoodie is basically a server that comes with authentication / user account logic as well as data persistence. For that Hoodie integrates with [CouchDB](http://couchdb.apache.org). The main idea is to hide away al

[2016-03-25 21:56] gr2m commented on #79
ping @alisabzevari, how is it looking?

[2016-03-25 22:01] gr2m commented on #130
all done, Coverage is disabled (https://github.com/hoodiehq/hoodie-account-server/issues/37), we can do that parts later

[2016-03-25 22:01] #130 closed

[2016-03-26 04:51] artivilla99 commented on #80
Still can’t quite wrap my head around it but the fs (file system) seems to have changed as well for this issue. Is this ticket still valid? Am I trying to mock a new user in my tests?

[2016-03-26 17:12] gr2m commented on #80
I’m sorry for the confusion, a few things changed since I created this issue, but it’s still valid. I’ve prepared the test for you and updated the issue description, I hope it helps? Please let me know if you have any farther questions :)

Here is an explanation of what I did it:

I’ve prepared an assertion to to check for `response.headers['x-set-session']` to the [`PATCH /session/account` test](

[2016-03-26 19:30] stevemasta34 commented on #35
https://medium.com/keep-learning-keep-growing/6-ways-to-recover-from-an-unproductive-day-920f89724983#.95nytek24

[2016-03-26 19:31] stevemasta34 commented on #35
Yes this make a lot of sense. I'll start a local branch, and if I get any headway (or stuck) I'll start the PR.

[2016-03-29 20:03] codyzu opened #136 "GET /accounts Add test for 401, "Session invalid" if user is not an admin"
Write test and implement 'Not an admin' in `tests/routes/accounts/get-accounts-test.js` as required by issue #83

I will work on this if it looks good for the team...

[2016-03-30 15:38] gr2m commented on #136
Awesome! We’ve invited you to the Hoodie Contributors Team, you should see an invitation here: https://github.com/hoodiehq. When you join you can assign your self to issues like this in future :)

[2016-03-31 16:43] sebbel commented on #17
Hey gregor, I am interested in this task. Currently looking into the hapi docs to find informations about cookies and the request lifecycle. I understand that I would need to create a hook in server,ext that would augment onRequest to delete cookie headers.

[2016-04-02 00:06] gr2m commented on #17
great, all yours :)

[2016-04-02 02:45] #103 closed

[2016-04-02 02:47] gr2m commented on #95
@hyperperforator ping :bell: :) No biggie if you don’t have time, we can free it up and we can find something else you can work on if you have more time again :)

[2016-04-02 03:34] gr2m opened #138 "README: setup instructions"
### :bug: The Bug

In the [setup instructions in tests/README.md](https://github.com/hoodiehq/hoodie-account-server/blob/master/tests/README.md) we tell the user to clone the repository using `git clone git@github.com:hoodiehq/hoodie-account-server.git`. But GitHub itself recommends the `https://` protocol instead of the `git@` which is SSH (see [which remote should I use](https://help.github.com/

[2016-04-02 07:05] sebbel commented on #17
tyvm Gregor

Am Samstag, 2. April 2016 schrieb Gregor Martynus :

[2016-04-02 16:51] texassiga commented on #120
claiming this issue..

[2016-04-02 17:20] KaLaUnlimited commented on #120
Claiming issue

[2016-04-03 08:36] hyperperforator commented on #95
Hey! Just did this today, stand by for my first pull...

[2016-04-03 08:51] hyperperforator commented on #95
Hey hey,

I've just submitted my PR! Let me know if I got it working properly :) 🔥
https://github.com/hoodiehq/hoodie-account-server/pull/142

[2016-04-03 17:54] #95 closed

[2016-04-05 18:23] gr2m commented on #136
closed by https://github.com/hoodiehq/hoodie-account-server/issues/137. That was great work, merci bien!

[2016-04-06 11:50] janl commented on #35
Heya @stevemasta34: did you get anywhere with this?

If wanna share some in-progess work, I‘d be happy to help :)

[2016-04-07 03:30] stevemasta34 commented on #35
Hey @janl my work life has kind of taken over my personal life, so my progress has been minimal; my free time disappeared. You're more than welcome to take the lead on this one, and I'll tag in this weekend.

[2016-04-07 10:56] codyzu commented on #37
I'll take a look at this... strange that some tests fail with coverage. I'll try to investigate.

[2016-04-09 19:19] #136 closed

[2016-04-11 11:07] codyzu opened #147 "Standardize PouchDB error handling"
As discussed in the (hidden) comments of PR #137 we should standardize the way we check for errors thrown by PouchDB.

Sometimes we compare the error.name and sometimes error.status. While comparing against the actual error object thrown by PouchDB might be the most descriptive option, this creates a dependency (on PouchDB) that we don't want to add to this project. It seems comparing by status co

[2016-04-11 15:17] gr2m commented on #147
+1 for comparing with Status code. Thanks Cody

[2016-04-11 15:27] #37 closed

[2016-04-12 18:05] #17 closed

[2016-04-12 18:07] gr2m commented on #17
Congrats @sebbel, great work :clap:

You are part of the Hoodie Contributors team, that allows you to create branches on https://github.com/hoodiehq/hoodie-account-server, you can then send PRs from these branches. That will make the git things simpler, and will also allow us to rebase your PR for you before merging :)

[2016-04-28 12:11] codyzu commented on #80
@gr2m I've started working on this... I have a question:

I need to implement the logic to calculate a new session id... can I add file like `/api/session/update.js` to implement this logic? Then in the routes/account PATCH, after updating the user, it can call session update? I'm not sure if the files exposed in `api` are fixed to a spec or something similar...

[2016-04-28 12:13] codyzu commented on #80
@gr2m 2nd question:

Do we need to "renew" the session ID? Or just decode the "old" session, replace the name, and encode the "new" session ID?

[2016-04-28 13:03] gr2m commented on #80
You can use (server.plugins.account.api.sessions.add())[https://github.com/hoodiehq/hoodie-account-server/tree/master/api#apisessionsadd]

Yeah that sounds right. We should validate the old session id, then generate a session id for the new username and return that in the `x-set-session` header

[2016-04-29 06:35] codyzu commented on #80
@gr2m

I don't think this call will work because the current implementation validates the password sent in the options. If I understand the PATCH /session/account, we might be changing the username OR password so it is not sure that I will always have access the user's password (i.e. if they only change their username).

The spec says that server.plugins.account.api.sessions.add() can accept sessi

[2016-04-29 11:28] codyzu commented on #80
@gr2m

So I think I have narrowed my problem to this: [server.plugin.account.api.sessions.add](https://github.com/hoodiehq/hoodie-account-server/tree/master/api#apisessionsadd) says the `options.auth` param should be:

However, in `api/sessions/add.js` the `addSession` function uses `options.password` no mention of `options.auth` or `options.auth.session` etc...

My feeling is, we need to create a

[2016-04-30 20:27] gr2m commented on #80
great work @codyzu, I think you are absolutely right. The [current version of sessions.add](https://github.com/hoodiehq/hoodie-account-server/blob/736e27a/api/sessions/add.js) does not implement authentication with `options.auth.session`. I agree we can make a separate issue for it. Feel free to open one and assign it to yourself as a follow up to this discussion. If you’re busy and would like thi

[2016-05-01 14:10] codyzu commented on #80
@gr2m I found issue #26 already exists. Should I just work from there?

[2016-05-01 14:15] codyzu commented on #26
@gr2m as we discussed in #80 this needs to authenticate against options.auth.session...

Creating the new session seems simple (already implemented!), but I'm unsure about the `auth`? This should be authenticating for an admin?

The doc says:

But api.sessions does not have a reference to the initialized `admins` object... How can I validate auth object?

Thanks!

[2016-05-01 15:00] gr2m commented on #26
You can validate a session the same way that [sessions.find does it](https://github.com/hoodiehq/hoodie-account-server/blob/0c9415c/api/sessions/find.js#L14-L22) – retrieve the user’s document and validate the session id using the server secret and user’s salt property

[2016-05-01 15:00] gr2m commented on #80
yeah sounds good, thanks :+1:

[2016-05-01 15:43] codyzu commented on #26
great. Thanks @gr2m! I'll take a look in a few hours.

[2016-05-01 20:39] codyzu commented on #147
This was resolved when #148 was merged.

[2016-05-01 20:39] #147 closed

[2016-05-01 22:22] #26 closed

[2016-05-03 17:21] huzaifafaruqui commented on #138
hey can I work on this issue?

[2016-05-03 17:35] gr2m commented on #138
oh yes absolutely, all yours @huzaifafaruqui :)

[2016-05-06 15:59] #138 closed

[2016-05-06 16:12] gr2m commented on #138
Thanks @huzaifafaruqui, that was perfect :ok_hand: welcome to Hoodie! Are you on twitter? We like giving new contributors a shout out, if you don’t mind?

Let me know if you want to keep contributing, we're happy to help you find something. Best is to join our [Hoodie chat](http://hood.ie/chat). You can also send me a direct message in there, I’m `@gregor`.

Have a fantastic weekend!

[2016-05-07 21:00] gr2m opened #154 "signUp: store createdAt & signedUpAt"
the signup request should include a `createdAt` timestamp. If not passed, set to now. Set signedUpAt to now, then store both with the user account doc. Related issue for client: https://github.com/hoodiehq/hoodie-account-client/issues/92

[2016-05-08 20:31] gr2m commented on #80
done via https://github.com/hoodiehq/hoodie-account-server/pull/152

[2016-05-08 20:31] #80 closed

[2016-05-11 18:29] codyzu commented on #79
PR #155 ready!

[2016-05-12 18:24] gr2m commented on #120
this has been resolved meanwhile

[2016-05-12 18:24] #120 closed

[2016-05-15 14:17] gr2m commented on #79
done via https://github.com/hoodiehq/hoodie-account-server/pull/155

[2016-05-15 14:17] #79 closed

[2016-05-22 09:21] dwouda27 commented on #124
PayPal.Me/dwouda/25

[2016-08-16 16:46] gr2m opened #173 "Generate standard UUIDs for account IDs"
https://github.com/hoodiehq/hoodie-account-server/blob/master/api/accounts/add.js#L13-L15

follow the convention, e.g. see https://en.wikipedia.org/wiki/Universally_unique_identifier. You can for example use [uuid.v4()](https://www.npmjs.com/package/uuid) for that

[2016-08-31 18:43] gr2m opened #178 "Implement proper password reset using tokens"
follow up for https://github.com/hoodiehq/hoodie-account-server/pull/2#issuecomment-157312593

This PR needs the account server API to support tokens.

@rmehner also mentioned that password-reset is currently the only place we validate if the username is a valid email. This was a rather quick hack when I first implemented it, I think we can make it a bit more sophisticated, e.g. check if if there

[2016-10-03 02:45] ohiock commented on #173
Hey @gr2m - looks like this was resolved in #185

[2016-10-03 20:36] gr2m commented on #173
oh yes, thanks! Totally missed to close this issue when I created https://github.com/hoodiehq/camp/issues/31 👍

[2016-10-03 20:36] #173 closed

[2016-10-14 23:52] gr2m opened #187 "[api] validate that options.username exist before creating doc in accounts.add"
currently the api call rejects with `forbidden: doc.name is required` which is rather confusing, it should instead reject with `username is required` or something like that

[2016-10-15 02:35] gr2m opened #188 "[api] api.sessions.remove -> rejects if options is not passed"
[code]

Problem is here: https://github.com/hoodiehq/hoodie-account-server/blob/736e27a/api/sessions/remove.js#L9-L11 we need to check if options is truthy first

[2016-10-15 05:23] gr2m opened #190 "devDependencies: replace "pouchdb" with "pouchdb-core", "pouchdb-mapreduce" and "pouchdb-adapter-memory""
adapt [tests/integration/utils/get-server.js](https://github.com/hoodiehq/hoodie-account-server/blob/f8d802a/tests/integration/utils/get-server.js#L6) accordingly

[2016-10-15 16:58] gr2m commented on #27
closing in favor of https://github.com/hoodiehq/hoodie-account-server-api/issues/3

[2016-10-15 16:58] #27 closed

[2016-10-15 20:06] gr2m commented on #188
closing in favor of https://github.com/hoodiehq/camp/issues/58

[2016-10-15 20:06] #188 closed

[2016-10-15 20:29] gr2m commented on #190
closing in favor of https://github.com/hoodiehq/camp/issues/59

[2016-10-15 20:29] #190 closed

[2016-10-15 21:01] gr2m commented on #187
closing in favor of https://github.com/hoodiehq/camp/issues/60

[2016-10-15 21:01] #187 closed

[2016-10-15 21:58] gr2m commented on #154
closing in favor of https://github.com/hoodiehq/camp/issues/61

[2016-10-15 21:58] #154 closed

[2016-10-15 22:02] gr2m commented on #124
Hey @JayWIlsonJr it’s been a while, how are things going? How is the new career going?

I’ll move this issue to our [camp repository](https://github.com/hoodiehq/camp/issues), this is our central place now where we create issues like this one. If you are still interested in contributing, I’d be happy to help find something interesting for you to work on :)

Greetings from LA 👋

[2016-10-15 22:11] #124 closed

[2016-10-15 22:20] gr2m commented on #113
good enough :tm: for now

[2016-10-15 22:20] #113 closed

[2016-10-15 22:23] gr2m commented on #14
moved to https://github.com/hoodiehq/discussion/issues/102

[2016-10-15 22:23] #14 closed

[2016-10-15 23:28] gr2m commented on #83
@patriciagarcia hey Pat, I know it’s been a looooooong while, but can you recall why you suggested to "Also remove call to invalid-type-error.js (!)" for `PATCH /accounts/123`?

[2016-10-16 00:50] gr2m commented on #83
yay finally created issues for all the things that Patricia found :) Took only 8 months but hey :v: Thanks again for your great help Patricia 👏

[2016-10-16 00:50] #83 closed

[2016-10-16 00:55] gr2m commented on #35
moved to https://github.com/hoodiehq/hoodie-account-server-api/issues/3 and https://github.com/hoodiehq/hoodie-account-server-api/issues/9

[2016-10-16 00:55] #35 closed

[2016-10-16 00:59] gr2m commented on #24
Hey @mikehedman I know it’s been a long while, but do you remember when the `409` response would be appropriate? For the update function, the server responds with `409` if the passed type or id attribute don’t match `'account'` or the id from the URL. But DELETE requests don’t have a body, so I can’t think of how case when the server would respond with `409`. It’s not in the spec either: http://js

[2016-10-17 04:29] mikehedman commented on #24
@gr2m - I looked at the spec, and the formal definition of what a 409 is supposed to represent, and I agree that it doesn't make sense for a DELETE request.  I'll close this issue.

[2016-10-17 04:29] #24 closed

[2016-10-23 22:27] barretodaniel opened #217 "Implement /accounts/:id/sessions post route"
In order admins to create a session for a certain account the POST route needs to be implemented.

[2016-10-30 23:36] greenkeeper[bot] opened #222 "An in-range update of @hoodie/account-server-api is breaking the build 🚨"
## Version **3.2.1** of [@hoodie/account-server-api](https://github.com/hoodiehq/hoodie-account-server-api) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2F%40hoodie%2Faccount-server-api-3.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <

[2016-11-02 23:21] #222 closed

[2016-11-23 20:30] greenkeeper[bot] opened #230 "An in-range update of standard is breaking the build 🚨"
## Version **8.6.0** of [standard](https://github.com/feross/standard) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fstandard-8.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      standard
    </td>
  </tr>
  <tr>
    <th align=l

[2016-11-24 09:18] gr2m commented on #230
open PR: https://github.com/hoodiehq/hoodie-account-server/pull/231

[2016-11-27 11:48] #230 closed

[2017-01-24 23:15] gr2m opened #235 "Allow to sign in with tokens"
goes together with https://github.com/hoodiehq/hoodie-account-client/issues/132.

We currently only accept `PUT /session` request with username & password, but we want to allow tokens now as well

[2017-01-25 21:36] #235 closed

[2017-01-26 05:29] greenkeeper[bot] opened #237 "An in-range update of @hoodie/account-server-api is breaking the build 🚨"
## Version **3.6.3** of [@hoodie/account-server-api](https://github.com/hoodiehq/hoodie-account-server-api) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2F%40hoodie%2Faccount-server-api-3.6.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <

[2017-01-26 05:42] #237 closed

[2017-01-31 20:45] gr2m opened #240 "support custom request handlers"
follow up for https://github.com/hoodiehq/hoodie-account-server/issues/30.

If I currently send a request like `account.request({type: 'authtoken', username: 'foo'})` the server will respond with a `409` saying that `type` must be `passwordreset`

[2017-02-07 17:09] greenkeeper[bot] opened #242 "An in-range update of pouchdb-adapter-http is breaking the build 🚨"
## Version **6.1.2** of [pouchdb-adapter-http](https://github.com/pouchdb/pouchdb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fpouchdb-adapter-http-6.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pouchdb-adapter-http

[2017-02-08 01:01] gr2m commented on #242
false positive

[2017-02-08 01:01] #242 closed

[2017-03-18 05:22] greenkeeper[bot] opened #248 "An in-range update of @hoodie/account-server-api is breaking the build 🚨"
## Version **3.8.0** of [@hoodie/account-server-api](https://github.com/hoodiehq/hoodie-account-server-api) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2F%40hoodie%2Faccount-server-api-3.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <

[2017-04-20 16:17] gr2m commented on #248
The all integration tests need to be adapted as fade9f7 and ae1b9fc. This is up for grabs for anyone :)

[2017-05-05 19:32] greenkeeper[bot] opened #252 "An in-range update of nyc is breaking the build 🚨"
## Version **10.3.2** of [nyc](https://github.com/istanbuljs/nyc) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fnyc-10.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-05-06 16:15] greenkeeper[bot] opened #253 "An in-range update of semantic-release is breaking the build 🚨"
## Version **6.3.6** of [semantic-release](https://github.com/semantic-release/semantic-release) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fsemantic-release-6.3.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      semantic-releas

[2017-05-13 10:47] greenkeeper[bot] opened #254 "An in-range update of joi is breaking the build 🚨"
## Version **10.4.2** of [joi](https://github.com/hapijs/joi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fjoi-10.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      joi
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-05-25 17:14] greenkeeper[bot] opened #256 "An in-range update of @gar/hapi-json-api is breaking the build 🚨"
## Version **2.0.3** of [@gar/hapi-json-api](https://github.com/wraithgar/hapi-json-api) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2F%40gar%2Fhapi-json-api-2.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @gar/hapi-json-ap

[2017-05-26 15:54] gr2m opened #257 "account serialisation is lacking roles property"
see https://github.com/hoodiehq/hoodie-account-server/blob/a1932fd0fc483180dc96fb3d9eba154e03a43eec/routes/utils/serialise-account.js#L21-L23

Note that roles should ignore the "ID role", it should be the first role that looks like this: `id:abc4567`

[2017-05-29 12:36] greenkeeper[bot] opened #258 "An in-range update of hapi is breaking the build 🚨"
## Version **16.2.0** of [hapi](https://github.com/hapijs/hapi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fhapi-16.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      hapi
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-06-03 01:46] greenkeeper[bot] opened #260 "An in-range update of tap is breaking the build 🚨"
## Version **10.3.3** of [tap](https://github.com/tapjs/node-tap) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Ftap-10.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-06-11 21:49] #248 closed

[2017-06-11 21:52] #252 closed

[2017-06-11 21:52] #253 closed

[2017-06-11 21:52] #254 closed

[2017-06-11 21:52] #256 closed

[2017-06-11 21:52] #258 closed

[2017-06-11 21:52] #260 closed

[2017-07-13 11:12] greenkeeper[bot] opened #262 "An in-range update of pouchdb-adapter-http is breaking the build 🚨"
## Version **6.3.0** of [pouchdb-adapter-http](https://github.com/pouchdb/pouchdb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fpouchdb-adapter-http-6.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pouchdb-adapter-http

[2017-07-13 11:22] greenkeeper[bot] opened #263 "An in-range update of pouchdb-core is breaking the build 🚨"
## Version **6.3.0** of [pouchdb-core](https://github.com/pouchdb/pouchdb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fpouchdb-core-6.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pouchdb-core
    </td>
  </tr>
  <tr>

[2017-07-13 11:27] greenkeeper[bot] opened #264 "An in-range update of pouchdb-errors is breaking the build 🚨"
## Version **6.3.0** of [pouchdb-errors](https://github.com/pouchdb/pouchdb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fpouchdb-errors-6.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pouchdb-errors
    </td>
  </tr>
  <t

[2017-07-13 11:29] greenkeeper[bot] opened #265 "An in-range update of pouchdb-mapreduce is breaking the build 🚨"
## Version **6.3.0** of [pouchdb-mapreduce](https://github.com/pouchdb/pouchdb) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fpouchdb-mapreduce-6.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pouchdb-mapreduce
    </td>
  <

[2017-07-14 22:40] gr2m commented on #262
thanks @greenkeeper[bot] 🙇

[2017-07-14 22:40] #262 closed

[2017-07-14 22:50] #265 closed

[2017-07-14 22:50] #263 closed

[2017-07-14 22:51] #264 closed

[2017-07-20 09:00] greenkeeper[bot] opened #267 "An in-range update of hapi is breaking the build 🚨"
## Version **16.5.0** of [hapi](https://github.com/hapijs/hapi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fhapi-16.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      hapi
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-07-20 15:55] gr2m commented on #267
clearing cache and restarting fixed the issue

[2017-07-20 15:55] #267 closed

[2017-09-20 01:02] alterx opened #271 "Usernames with capital letters fail to authenticate"
I've been playing around with the account package and noticed that while creating users with capital letters in their usernames is allowed when the user attempts to log in, this package lowercases the username.

https://github.com/hoodiehq/hoodie-account-server/blob/eb1eeae6d749963a948be331dac83dfbd7e9958c/routes/session.js#L42

This causes a 404 error (of course, there's no such user) that stops

[2017-09-20 01:09] gr2m commented on #271
💯

That’s a legit bug, can you take a stab at a PR? Let me know if you need any pointers or guidance :)

[2017-09-20 01:14] alterx commented on #271
Sure!
Just to be clear are we going with option a (not allowing the creation of users with capital letters) or b (fixing this line)?

[2017-09-20 01:17] gr2m commented on #271
a – not allowing the creation of users with capital letters

[2017-09-20 01:24] alterx commented on #271
Gotcha :)

[2017-09-20 23:38] #271 closed

[2017-10-19 10:25] greenkeeper[bot] opened #274 "An in-range update of @gar/hapi-json-api is breaking the build 🚨"
## Version **2.0.4** of [@gar/hapi-json-api](https://github.com/kjellmorten/hapi-json-api) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2F%40gar%2Fhapi-json-api-2.0.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @gar/hapi-json-

[2018-01-08 20:05] greenkeeper[bot] opened #284 "An in-range update of nock is breaking the build 🚨"
## Version **9.1.6** of [nock](https://github.com/node-nock/nock) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fnock-9.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nock
    </td>
  </tr>
  <tr>
    <th align=left>
      Cu

[2018-02-08 21:16] greenkeeper[bot] opened #287 "An in-range update of @hoodie/account-server-api is breaking the build 🚨"
## Version **3.8.7** of [@hoodie/account-server-api](https://github.com/hoodiehq/hoodie-account-server-api) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2F%40hoodie%2Faccount-server-api-3.8.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <

[2018-02-20 00:30] greenkeeper[bot] opened #290 "An in-range update of tap is breaking the build 🚨"
## Version **11.1.1** of [tap](https://github.com/tapjs/node-tap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Ftap-11.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-02-20 01:20] #290 closed, assigned to nobody

[2018-03-08 04:26] greenkeeper[bot] opened #292 "An in-range update of tap is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **11.1.2** of [tap](https://github.com/tapjs/node-tap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Ftap-11.1.2">Build fail

[2018-03-13 08:04] greenkeeper[bot] opened #293 "An in-range update of nyc is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **11.6.0** of [nyc](https://github.com/istanbuljs/nyc) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fnyc-11.6.0">Build fail

[2018-03-15 01:14] greenkeeper[bot] opened #294 "An in-range update of standard is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **11.0.1** of [standard](https://github.com/standard/standard) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/greenkeeper%2Fstandard-11.0.

[2018-04-24 19:47] greenkeeper[bot] opened #295 "An in-range update of lodash is breaking the build 🚨"
## Version **4.17.9** of [lodash](https://github.com/lodash/lodash) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/master...hoodiehq:greenkeeper%2Flodash-4.17.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lodash
    </td>
  </tr>
  <tr>

[2018-05-01 22:46] greenkeeper[bot] opened #296 "An in-range update of coveralls is breaking the build 🚨"
## Version **3.0.1** of [coveralls](https://github.com/nickmerwin/node-coveralls) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-account-server/compare/master...hoodiehq:greenkeeper%2Fcoveralls-3.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>

[2018-05-08 15:27] greenkeeper[bot] opened #297 "An in-range update of lolex is breaking the build 🚨"
## Version **2.4.0** of [lolex](https://github.com/sinonjs/lolex) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/hoodiehq/hoodie-account-server/compare/master...hoodiehq:greenkeeper%2Flolex-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>lolex</code>

[2018-05-16 00:05] greenkeeper[bot] opened #299 "An in-range update of couchdb-calculate-session-id is breaking the build 🚨"
## Version **1.1.3** of [couchdb-calculate-session-id](https://github.com/hoodiehq/couchdb-calculate-session-id) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/hoodiehq/hoodie-account-server/compare/master...hoodiehq:greenkeeper%2Fcouchdb-calculate-session-id-1.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align

[2018-06-27 17:06] ompuno opened #301 "id property when creating account using admin ignored"
Hello,
I'm wondering if ignoring the id property when creating a new account using admin client is normal behavior of hoodie-account-server.
Indeed, in routes > accounts.js, lune 197 to 201, id attributes is ignored. However, in hoodie-account-server-api, line 35,

var accountId = properties.id || uuid.v4()

it seems that personalization of this variable is anticipated...

[2019-07-10 18:17] #217 closed

[2019-09-13 06:22] laurensiusadi opened #302 "Request password reset error"
Issue originally posted on https://github.com/hoodiehq/hoodie-app-tracker/issues/187

Environment:

- Windows 10 64bit
- Node v10.13.0

Steps to replicate

1. Clone repo https://github.com/hoodiehq/hoodie-app-tracker
2. run `npm install --production`
3. `cp .hoodierc-example .hoodierc`
4. put correct username and password for gmail account in `.hoodierc`
5. `npm start`
6. open localhost:8080
7. si

[2019-09-14 04:08] #302 closed, assigned to nobody